/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Mogra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-font: 'Inter', sans-serif;
    --secondary-font: 'Mogra', cursive;
    --primary-color:  #014f86;
    --secondary-color: yellow;
    --highlight-color: orange;
    --highlight-color-light: #7a9fc2;

}

html,
body {
    height: 100%;
}

body {
    font-family: var(--primary-font);
}


h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

.navbar {
    background-color: var(--primary-color);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Shadow for a stylish look */
}

.navbar-custom .nav-link {
    color: #fff; 
}

.navbar-custom .nav-link:hover {
    color: var(--highlight-color);
}

.nav-link.active {
    color: purple; /* Custom text color */
    background-color: #f0f0f0; /* Custom background color */
    font-weight: bold; /* Optional for emphasis */
}
/* Header */

#header .lead {
    font-family: var(--secondary-font);
}
.image-size {
    width: 90%;
 
}
.hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/hero3.jpeg') no-repeat center center;
    background-size: cover;
    color: #FFEBD4;
    padding: 100px 0;
    text-align: center;
}

.card-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;  /* Equal space between cards */
    padding: 20px; /* Padding around the container */
}

.card {
    width: 200px; /* Set consistent card size */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, z-index 0.3s ease;/* Smooth hover effect */
    z-index: 1; /* Default z-index for all cards */
    margin: 10px; /* Equal margin on all sides of the card */
}


.card:hover {
    transform: scale(1.5); /* Slight zoom-in effect */
    transition: transform 0.7s;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2); /* Enhanced shadow */
    z-index: 10; /* Bring to front */
}

.card:hover h5,
.card:hover p {
    color: #ffc107; /* Change text color on hover (Bootstrap warning color) */
}
     

#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgba(241, 109, 107, .7);
    font-size: 130%;
    position: relative;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text>h2,
#cover-text>h3 {
    color: #ffffff;
}

.footer {
    background-color: #3B2F2F;
    color: white;
    padding: 10px 0;
    /* Adjusted padding to make the footer smaller */
}


/* Adjust spacing and layout for smaller screens */
@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
    }

    .card-overlay {
        position: static;
        transform: none;
        gap: 10px;
        flex-direction: column; /* Stack the cards vertically */
        align-items: center;
    }
}